{% extends 'base.html' %}

{% block content %}
    <h2>Tinggalkan Pesan</h2>
    <form method="post">
        <div class="mb-3">
            <h5 class="card-title">{{ current_user.username }}</h5>
        </div>
        <div class="mb-3">
            <label for="pesan" class="form-label">Pesan:</label>
            <textarea name="pesan" rows="3" class="form-control" id="pesan"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Kirim Pesan</button>
    </form>

    <hr>
    <h2>Pesan yang Masuk</h2>
    {% for p in semua_pesan %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ p.user.username }}</h5>
                <p class="card-text">{{ p.pesan }}</p>
                {% if current_user and current_user.id == p.user_id %}    
                    <a href="{{ url_for('edit', id=p.id) }}" class="btn btn-secondary btn-sm">Edit</a>
                    <form action="{{ url_for('hapus', id=p.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Yakin?');">Hapus</button>
                </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-info">Belum ada pesan. Jadilah yang pertama!</div>
    {% endfor %}
{% endblock %}